* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

.container {
    max-width: 800px;
    margin-top: 15rem;
    margin-left: auto;
    margin-right: auto;
}

.card-body {
    border: black solid 2px;
    height: 300px;
    border-radius: 0.5rem;
    text-align: center;
    display: flex;
}

.body {
    margin: auto;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}

#content {
    text-align: center;
}

.date {
    font-size: 5rem;
}

#content h2 {
    margin-top: 2rem;
}





