* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    font-family: 'Open Sans Condensed', sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
    margin-top: 5rem;
}

.searchFieldsArea {
    background-color: rgba(255, 255, 255, 0.76);
    height: 380px;
    max-width: 520px;
    border-radius: 0.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.body {
    margin: auto;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 1rem;
}

input {
    margin-right: 1rem;
    width: 14rem;
    height: 1.5rem;
}

select {
    width: 7rem;
    margin-right: 0.5rem;
    height: 1.9rem;
}

button {
    width: 5rem;
    height: 1.7rem;
    border-radius: 0.25rem;
}

#formSearch {
    margin-bottom: 1.5rem;
}

#specDaySearch {
    margin-bottom: 1.7rem;
}

#content {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 0.5rem;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
}

#content h2 {
    padding-top: 1rem;
}

.date {
    font-size: 3rem;
    padding: 0;
}

.names {
    padding-bottom: 1.5rem;
}

.alert {
    text-align: center;
    background-color: rgb(250, 246, 4);
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    max-width: 520px;
    margin: auto;
}





