* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    font-family: 'Open Sans Condensed', sans-serif;

}

.container {
    max-width: 800px;
    margin-top: 12rem;
    margin-left: auto;
    margin-right: auto;
}

.card-body {
    border: black solid 2px;
    height: 320px;
    border-radius: 0.5rem;
    text-align: center;
    display: flex;
}

.body {
    margin: auto;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

input {
    margin-right: 1rem;
    width: 14rem;
    height: 1.5rem;
}

select {
    width: 7rem;
    margin-right: 0.5rem;
    height: 1.9rem;
}

button {
    width: 5rem;
    height: 1.7rem;
    border-radius: 0.25rem;
}

#content {
    text-align: center;
}

.date {
    font-size: 5rem;
}

#content h2 {
    margin-top: 2rem;
}





